.head {
    display: flex;
    justify-content: space-between; /* Ensure items are spread across the header */
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(51, 51, 51, 0.85);
    color: white;
    min-width: 600px;
    position: relative;
    width: 100vw;
}

.branding {
    display: flex;
    align-items: center; /* Ensure items inside title div are aligned center */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.branding h1 {
    margin-left: 10px;
}

.endofhead{
    display: flex;
    align-items: center;
}

.nav a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.white .head{
    background-color: rgba(255, 255, 255, 0.85);
    color: #333333;
}
.white .nav a{
    color: #333333;
}