.leaderboard {
    position: relative;
    padding: 20px;
    left: 50%;
    top: 30px;
    width: 70%;
    max-width: 1200px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin-bottom: 40px;
  }
  

.bg {
    background-color: #009dc6;
    color: white;
    min-width: 600px;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    padding-bottom: 30px;
}

.leaderboard h1 {
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
  }

.leaderboard table{
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
  }

.leaderboard thead {
    text-align: center;
    height: 30px;
}

.leaderboard th, .leaderboard td {
    width: 180px;
}

.leaderboard table, .leaderboard td, .leaderboard thead, .leaderboard th{
    border: 1px solid rgba(255, 255, 255, 0.548); 
    border-collapse: collapse;
  }

  .centeredCell {
    text-align: center !important; /* Center-align text in cells */
  }
  
  .centeredHeader {
    text-align: center !important; /* Center-align text in headers */
  }